<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node ecosensornet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Mode ESPNOW</h1>
<p>
    <a href="/">back home</a>
</p>
<h2>Settings</h2>
<form method="post" action="page_mode_espnow.html">
    <p>
        <input type="submit" value="Submit">
        <input type="reset">
    </p>
    <p>
        Gateway IP:
        <input type="number" id="gate_ip0" name="gate_ip0" min="0" max="255" size="5" value="{{gate_ip0}}">
        .
        <input type="number" id="gate_ip1" name="gate_ip1" min="0" max="255" size="5" value="{{gate_ip1}}">
        .
        <input type="number" id="gate_ip2" name="gate_ip2" min="0" max="255" size="5" value="{{gate_ip2}}">
        .
        <input type="number" id="gate_ip3" name="gate_ip3" min="0" max="255" size="5" value="{{gate_ip3}}">
        .
        <input type="number" id="gate_ip4" name="gate_ip4" min="0" max="255" size="5" value="{{gate_ip4}}">
        .
        <input type="number" id="gate_ip5" name="gate_ip5" min="0" max="255" size="5" value="{{gate_ip5}}">
        - hex: {{gateway_ip_hex}}
    </p>
    <p>
        Measure interval:
        <input type="number" id="interval" name="interval" min="0" value="{{interval}}">
        [s]
    </p>
</form>

<h2>Change mode</h2>
<form method="post" action="chg_mode_espnow">
    <p>
        <input type="submit" value="Change">
        Node will restart and connection will be lost
    </p>
</form>

</body>
</html>
