<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Node ecosensornet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Node basic</h1>
<p>Node id: {{nid}}</p>

<h2>Modes</h2>
<p>
    <ul>
    <li><a href="/page_calibration.html">Calibration</a></li>
    &nbsp;&nbsp;
    <li><a href="/page_mode_espnow.html">Espnow</a></li>
    </ul>
</p>

<h2>Sampling</h2>
<form method="post" action="/">
    <p>
        <input type="submit" value="Sample">
    &nbsp;&nbsp;
        <a href="/page_sampling.html">Auto sampling</a>
    </p>
</form>
<p>
    Current value:
    <pre>{{val_cur}}</pre>
</p>
</body>
</html>
